
title {
    text-align: center;
    color: crimson;
    font-family: "Bradley Hand", cursive;
}
body {
    text-align: center;
    font-family: "Bradley Hand", cursive;
    color: darkorange;
    background-color: bisque;
}
table {
    font-family: "Bradley Hand", serif;
    color: black;
}
